{% assign therapy = site.data.psychotherapy %}

<div class="therapy-content wrap">
    <div class="prose therapy-introduction">
        {{ therapy.approach | markdownify }}
    </div>
    {% for area in therapy.focus %}
        {% assign key = area.title | slugify %}
        <section class="therapy-focus-area" aria-labelledby="{{ key }}-heading">
            <h2 id="{{ key }}-heading">{{ area.title }}</h2>
            <div class="prose">
                {{ area.description | markdownify }}
            </div>
        </section>
    {% endfor %}
</div>
{% include invitation.html %}
