<section id="psychedelic-support" class="support-section section wrap">

    <div class="prose">
        <p>
            Psychedelic-assisted psychotherapy is an emerging modality within
            the mental health field. Humans have been using various forms of
            mind-altering substances for millenia, and there is evidence of this
            in nearly every indigenous culture across the world. Today, there
            are a variety of legal, underground, self-guided, communal,
            ceremonial, and/or recreational contexts in which people choose to
            engage with these substances.
        </p>
        <p>
            There is a wide range of potential benefits - and risks - associated
            with these substances. I encourage anyone who is considering
            engaging with them in any context to first learn about the risks,
            contraindications, and best practices. Generally speaking,
            approaching these medicines with humility, respect, and
            intentionality is advisable.
        </p>
        <p>
            Stanislav and Christina Grof coined the term <em>holotropic</em>,
            which means <em>moving towards wholeness</em>. They used this word
            to describe the states of consciousness that psychedelics can
            produce. They also developed <em>holotropic breathwork</em>: a
            specific breathing technique used to achieve similar states. I
            believe that life itself is holotropic, in that our bodies and minds
            are always in a process of moving towards wholeness. Psychotherapy,
            psychedelic experiences, and breathwork are a few techniques that
            can engage this holotropic process more fully and intentionally, and
            I bring this view into my work with clients.
        </p>
        <p>
            I do not currently offer psychedelic-assisted psychotherapy to my
            clients, due to the legal status of most of these substances and the
            current regulatory uncertainty surrounding providing these services
            in a remote private practice in Ontario. I do, however, offer remote
            breathwork sessions as a compliment to psychotherapy.
            <a class="text-link" href="{% include link.html to='breathwork' %}"
                >Learn more about my breathwork offering here.</a
            >
        </p>
        <p>
            I also provide support for individuals who have chosen to engage
            with psychedelic substances and who would like support in processing
            these experiences. Whether it is recreational, ceremonial,
            therapeutic, or any other context, psychedelic experiences can offer
            rich material to be processed in therapy.
        </p>
        <p>
            <em>
                I cannot offer referrals to underground psychedelic therapists,
                nor can I provide sources for psychoactive substances of any
                kind.</em
            >
        </p>
        <a class="text-link" href="{% include link.html to='contact' %}"
            >Get in touch</a
        >
    </div>
</section>

{% include invitation.html %}
